@font-face {
    font-family: "opensans-bold";
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "opensans-regular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}
html, body {
    min-height: 100%;
    position: relative;
}
* {
    font-family: "opensans-regular";
    -webkit-transition: ease-out .3s;
    -moz-transition: ease-out .3s;
    -o-transition: ease-out .3s;
    transition: ease-out .3s;
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    height: 70px;
    background-color: #2BA8E2;
    z-index: 100;
}

.logo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 18px;
    height: 35px;
}

.header-menu {
    float: right;
    height: 70px;
    padding: 20px;
}

.header-menu  ul {
    padding: 0;
}

.header-menu > ul > li {
    float: left;
    position: relative;
    height: 28px;
    padding: 0 12px;
    border-right: 3px solid #FFF;
    list-style: none;
}

.header-menu ul li:last-child {
    border-right: none;
}

.hello-user {
    display: block;
    margin-top: 5px;
    margin-right: 5px;
    color: #FFF;
}

.header-menu ul li img {
    display: block;
    height: 35px;
    margin-top: -4px;
    cursor: pointer;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.header-menu ul li img:hover {
    opacity: .7;
}

.dropdown-container {
    display: none;
    position: absolute;
    top: 70px;
    right: 0;
    width: 250px;
    padding: 10px 0;
    border: 1px solid #DBDEDE;
    border-radius: 6px;
    background-color: #FFF;
    z-index: 99;
}

.dropdown-container:before {
    content: ' ';
    position: absolute;
    right: 15px;
    top: -11px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 16px solid #FFF;
    z-index: 91;
}

.dropdown-container:after {
    content: ' ';
    position: absolute;
    right: 19px;
    top: -13px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 12px solid #DBDEDE;
    z-index: -30;
}

.dropdown-container ul {
    padding: 0;
}

.dropdown-container ul li {
    width: 100%;
    list-style: none;
}

.dropdown-container ul li a {
    position: relative;
    display: block;
    padding: 5px 12px;
    margin: 0 2px;
    min-height: 30px;
    color: #2F3136;
    text-decoration: none;
}

.dropdown-container ul li a:after {
    content: ' ';
    display: none;
    position: absolute;
    top: 4px;
    right: 15px;
    height: 22px;
    width: 22px;
    background-size: 22px 22px;
    background-image: url('../img/icon/arrow_right.png');
}

.dropdown-container ul li:hover a:after {
    display: block;

}

.dropdown-container ul li a:hover {
    background-color: #E7E7E7;
}

#navigation {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    min-height: 55px;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    background-color: #F1F5F7;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    z-index: 98;
}
@media (max-width:768px) {

  #navigation {
      padding-right: 50px;
  }

}

#navigation .breadcrumb {
    margin-bottom: 10px;
}

#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60px;
    background-color: #2798CC;
    z-index: 110;
    overflow: hidden;
}

.menu-wrapper {
    height: 70px;
    width: 100%;
    background-color: #2BA8E2;
}

.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    padding: 20px 10px;
    height: 70px;
    width: 60px;
    background-color: #2BA8E2;
}

#sidebar ul {
    padding: 0;
}

#sidebar ul li {
    position: relative;
    list-style: none;
}

#sidebar ul li a {
    display: block;
    padding: 12px 10px;
    height: 55px;
    width: 400px;
}

#sidebar ul li a:hover, .menu-icon:hover {
    background-color: rgba(0,0,0,.2);
    text-decoration: none;
}

#sidebar ul li img, .menu-icon img {
    width: 35px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#sidebar ul li a span {
    padding-left: 15px;
    color: #FFF;
}

.icon-active::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 15px;
    width: 5px;
    height: 30px;
    background-color: #185F80;
}

.sidebar-expand {
    width: 300px !important;
}

#content {
    padding: 160px 25px 25px 90px;
    min-height: calc(100vh - 235px);
    background: #eee;
}
@media (max-width:768px) {

  #content {
        padding: 160px 0px 25px 57px;
  }
}
.box-white{
  background: #fff;
  padding: 10px 15px;
  margin-bottom: 25px;
}
.form-contributor .item .option{
  color: #2BA8E2;
}
.form-contributor .btn-outline{
  border-color: #2BA8E2;
  color: #2BA8E2;
}

.form-contributor .btn-outline:hover{
  background-color: #2BA8E2;
  color: #fff;
}
.form-contributor .submit{
  padding-top: 25px;
}
.form-contributor .submit .text{
  padding:25px 15px;
}


.card {
    position: relative;
    min-height: 200px;
    margin-bottom: 25px;
    border-radius: 6px;
    color: #FFF;
    padding: 35px;
}

.card img {
    position: absolute;
    top: 20px;
    right: 35px;
    width: 60px;
}

.card-title {
    margin-top: 60px;
    font-size: 24px;
}

.card-desc {
    margin-top: 25px;
    font-size: 18px;
}

.bg-1 {
    background-color: rgba(15,63,136,1);
    -webkit-box-shadow: 0px 2px 8px 0px rgba(15,63,136,1);
    -moz-box-shadow: 0px 2px 8px 0px rgba(15,63,136,1);
    box-shadow: 0px 2px 8px 0px rgba(15,63,136,1);
}

.bg-2 {
    background-color: rgb(14, 90, 206);
    -webkit-box-shadow: 0px 2px 8px 0px rgb(14, 90, 206);
    -moz-box-shadow: 0px 2px 8px 0px rgb(14, 90, 206);
    box-shadow: 0px 2px 8px 0px rgb(14, 90, 206);
}

.bg-3 {
    background-color: rgb(62, 137, 250);
    -webkit-box-shadow: 0px 2px 8px 0px rgb(62, 137, 250);
    -moz-box-shadow: 0px 2px 8px 0px rgb(62, 137, 250);
    box-shadow: 0px 2px 8px 0px rgb(62, 137, 250);
}

.bg-4 {
    background-color: rgb(27, 179, 243);
    -webkit-box-shadow: 0px 2px 8px 0px rgb(27, 179, 243);
    -moz-box-shadow: 0px 2px 8px 0px rgb(27, 179, 243);
    box-shadow: 0px 2px 8px 0px rgb(27, 179, 243);
}

.form-title{
  margin-bottom: 25px;
  color: #2BA8E2;
}
@media (min-width: 768px){
.form-horizontal .control-label {
     text-align: left;
}

#footer {
    padding: 25px;
    padding-left: 60px;
    background-color: #09121a;
}
.footer-logo {
    padding-bottom: 15px;
    height: 55px;
}

.footer-logo-text {
    font-family: "opensans-bold";
    font-size: 18px;
    color: #FFF;
}
.nav-footer {
    padding: 0;
    list-style: none;
}
.nav-footer li:first-child {
    font-family: "opensans-bold";
    margin-bottom: 15px;
    font-size: 14px;
    color: #FFF;
}
.nav-footer li a {
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
    color: #D3D6D6;
}
#footer p {
    font-size: 12px;
    color: #D3D6D6;
}
.copyrigth-text {
    margin-top: 50px;
}

@media only screen and (max-width : 768px) {
    .logo{
        left: 80px;
        margin: 0;
        margin-top: 18px;
    }
    .header-menu {
        margin-right: -20px;
        padding-right: 0;
        -webkit-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8);
    }
}
