node_modules
public/node_modules
assets/thumbs/videos
assets/source/videos
assets/source/lessons
vendor/
.env
.phpintel/
.phpintel/index
assets/filemanager/.htaccess
error_log
public/assets/source/lessons/*
laravel/
public/assets/source/avatar/*

