body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5{
    font-weight: bold;
}

/*  =============================
    Custom Button from default bootstrap
    =============================
*/
.btn-primary{
    background: #2ba8e2;
    border-color: transparent;
    color: #fff;
    border-radius: 2px;
    padding: 6px 30px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active{
    background: #2ba8e2;
    border-color: transparent;
    color: #fff;
    box-shadow: 0 2px 4px 1px #cccccc;
}

.btn-second{
    background: #fff;
    border-color: transparent;
    color: #1fb6ff;
    border-radius: 2px;
    padding: 6px 30px;
}
.btn-second:hover,
.btn-second:focus,
.btn-second:active{
    background: #fff;
    border-color: transparent;
    color: #1fb6ff;
}

.btn-outline-primary{
    border-color: #2ba8e2;
    color: #2ba8e2;
    background: transparent;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active{
    border-color: #2ba8e2;
    color: #2ba8e2;
    background: transparent;
    box-shadow: 0 2px 4px 1px #cccccc;
}

.btn-round{
    border-radius: 20px;
}

a.collap{
    line-height: 2;
    text-decoration: none;
}


/*  =============================
    All Page
    =============================
*/
.c-blue{
    color: #1fb6ff!important;
}
.bg-grey{
    background: #eee;
}
.header{
    background: #2ba8e2;
    color: #fff;
    padding: 120px 0 10px;
}
.row.box{
    background: #fff;
    border: 2px solid #eee;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}
.tab-pane textarea{
    background: #eee;
    border: none;
}
.video-materi{
    width: 100%;
    padding: 15px 10px;
    border-bottom: 2px solid #ddddddcc;
}
.video-materi .number-circle{
    background: #444444;
    border-radius: 50%;
    color: white;
    width: 20px;
    height: 20px;
    padding-left: 7px;
    font-size: 10px;
    position: absolute;
    margin: 10px 0;
}
.video-materi .title{
    padding-left: 30px;
    color: #000;
}
.video-materi .icon-collap{
    right: 0;
    margin-top: -40px;
    position: absolute;
    padding: 0 10px;
}
.sub-materi {
    margin: 0;
    padding: 10px 20px;
}
.submateri a{
    color: #353535;
}
.submateri a.active{
    color: #1fb6ff;
}

/*  ============================
    Footer 
    ============================
*/
#footer {
    margin-top: 100px;
    padding: 25px;
    background-color: #09121a
}

.footer-logo {
    padding-bottom: 15px;
    height: 55px
}

.footer-logo-text {
    font-size: 18px;
    color: #fff
}

.nav-footer {
    padding: 0;
    list-style: none
}

.nav-footer li:first-child {
    margin-bottom: 15px;
    font-size: 14px;
    color: #fff
}

.nav-footer li a {
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
    color: #d3d6d6
}

#footer p {
    font-size: 12px;
    color: #d3d6d6
}

.copyrigth-text {
    margin-top: 50px
}
/* ==========================  */




/*  =====================
    Custom Nav Tabs from default Bootstrap
    =====================

--- Nav tab dashboard --- */
.tabs-dashboard{
    background:#2ba8e2;
}
.tabs-dashboard .nav{
    padding: 8px 5px 0px;
    box-shadow: 0 2px 4px 1px #cccccc;
}
.tabs-dashboard .nav-pills>li>a{
    color: #eee;
}
.tabs-dashboard .nav-pills>li.active>a, .tabs-dashboard .nav-pills>li.active>a:focus, .tabs-dashboard .nav-pills>li.active>a:hover {
    color: #fff;
    border-radius: 0;
    border-bottom: 4px solid #fff;
    background-color: unset;
}
.tabs-dashboard .nav>li>a:focus,.tabs-dashboard .nav>li>a:hover{
    background-color: unset;
}

/* --- Nav tab syslabus --- */
.tabs-sylabus{
    padding:15px 100px 0px;
    background:#eee;
    color: #818181
}
.tabs-sylabus .nav{
    font-weight: bold;
    font-size: 16px;
}
.tabs-sylabus .nav-pills>li>a{
    color: #7cbedd;
    padding-bottom: 20px;
}
.tabs-sylabus .nav-pills>li.active>a,.tabs-sylabus .nav-pills>li.active>a:focus,.tabs-sylabus .nav-pills>li.active>a:hover {
    color: #2ba8e2;
    border-radius: 0;
    border-bottom: 4px solid #2ba8e2;
    background-color: unset;
}
.tabs-sylabus .nav>li>a:focus,.tabs-sylabus .nav>li>a:hover{
    background-color: unset;
}

/* --- Nav tab tabs-video --- */
.tabs-video .nav{
    font-weight: bold;
    font-size: 16px;
    padding: 0 10px;
}
.tabs-video:after{
    margin-top: -3px;
    height: 2px;
    display: block;
    width: 100%;
    background: #eee;
    border-right: 1px white;
    content: '';
}
.tabs-video .nav-pills>li>a{
    color: #000;
    padding-top: 20px;
    padding-bottom: 15px;
}
.tabs-video .nav-pills>li.active>a,.tabs-video .nav-pills>li.active>a:focus,.tabs-video .nav-pills>li.active>a:hover {
    color: #000;
    border-radius: 0;
    border-bottom: 4px solid #2ba8e2;
    background-color: unset;
}
.tabs-video .nav>li>a:focus,.tabs-video .nav>li>a:hover{
    background-color: unset;
}

/* Custom Progress from default Bootstrap */
.progress{
    height: 5px;
    border-radius: 0;
    background-color: #aae3ff;
}
.progress-bar{
    background-color: #1fb6ff;
}


/*  =====================
    CSS Card from Bootstrap 4
    =====================
*/
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-title {
    margin-bottom: 2.75rem;
}
.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}
.card-header {
    padding: 0.25rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-img-top {
    width: 100%;
    height: 140px;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card .label{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    padding:  5px 10px;
    background: #fff;
    color: #1fb6ff;
}



/*  ==============================
    CSS - Course Dashboard
    ============================== 
*/
.image-preview{
    background-size: cover;
    height: 250px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.filter{
    color:#1fb6ff;margin: 10px 0px;text-align: right;font-weight: bold;font-size:10px;
}
.filter-item{
    display: inline;
    padding: 0 10px 10px;
    border-bottom: 2px solid #9edfff;
}
.filter-item.active{
    border-bottom: 2px solid #1fb6ff;
}
.filter-link{
    color: #1fb6ff;
    text-decoration: none;
    cursor: pointer;
}
.img-author{
    width: 50px;
    height: 50px;
}
.card-progress{
    position: relative;
    float: left;
    width: 83.33333333%;
    padding: 0 !important;
}
.progress-number{
    position:absolute;
    right:-45px;
    top:-7px
}

/*  ==============================
    CSS - Course Sylabus
    ============================== 
*/
html{
	box-sizing:border-box
	}
*,*:before,*:after{
	box-sizing:border-box
	}

/*  ==============================
    CSS - Course Lesson
    ============================== 
*/
.lesson{
    padding:30px 100px;
    background:#eee;
    color: #818181;
}
.durationlesson{
    padding:0
}
.durationlesson li{
    list-style:none;
    display: inline;
    padding: 0 5px
}
.lesson-detail{
    list-style: none;padding: 0
}
.lesson-detail li{
    border-bottom: 2px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.lesson-detail .fa{
    font-weight: bold;
    color: #c5c5c5;
}  
.lesson-detail .fas, .lesson-detail .fa-check-circle{
    color: #2ba8e2;
}


/*  ==============================
    CSS - Video page
    ============================== 
*/
#sidebar-wrapper{
    background: #f5f5f5;
}
.tabs-close{
    position: absolute;
    right: 10px;
    top: 10px;
}
.video-header a{
    text-decoration: none;
    color: #fff;
}
.btn-menu{
    background: transparent;
    border-color: transparent;
    color: #fff;
}
.btn-next{
    background: #fff;
    border-color: transparent;
    color: #000;
    padding: 4px 20px;
}
.btn-menu:hover,.btn-menu:focus,.btn-menu:active,
.btn-next:hover,.btn-next:focus,.btn-next:active,
.video-header a:hover{
    color: #1fb6ff;
}
.video-header{
    z-index: 3;
    position: absolute;
    background: rgba(0,0,0,0.5);
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
    width: 100%;
    color:#fff;
    padding:20px;
}
.plyr--hide-controls .video-header {
    opacity: 0;
    pointer-events: none;
}
.player-end{
    display:none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: #000000cc;
    z-index:5;
    color: #fff;
}
.align-items-center{
    height: 100vh;
    display:flex;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.submateri{
    background: #e4e4e4;
    color:#000;
    font-size:12px
}
.submateri ul{
    list-style: none;
    padding:0;
}

/*  ==============================
    CSS - Project Submit 
    ============================== 
*/
.project-content .header{
    background: #fff;
    color: #000;
    border-bottom: 2px solid #eee;
    width: 100%;
    padding:20px;
    height: 80px;
}
.project-content ul{
    list-style: decimal
}


/*  ==============================
    CSS - Project Preview 
    ============================== 
*/
.project-view .card{
    box-shadow: 0 0 1px 1px #eee
}
.project-view .card-header{
    text-align:center;
    background:#2ba8e2;
    color:#fff;
    margin: 0 -4px;
    box-shadow: 0px 2px 4px 2px #dddddd80;
    padding-top: 10px;
}
.komentar .textarea{
    border: 1px solid #ccc;color:#ccc;min-height: 80px;padding: 10px;border-radius: 5px;
}
ul.project-preview{
    list-style: none;
    list-style-position: inside;
    padding: 0 20px;
}
ul.project-preview li{
    border: 1px solid #bbb;
    padding: 10px 15px;
    margin: 10px 0;
    font-size: 16px;
}
ul.project-preview li:before{
    color: #1fb6ff;
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -.1em;
    width: 1em;
}
ul.project-preview li ul{
    margin-top: 8px;
}
ul.project-preview li ul li{
    border: none;
    padding: unset;
    margin: unset;
    list-style: none;
    font-size: 14px;
}
ul.project-preview li ul li:before{
    color: #858585;
    content: "\f111";
    font-size: 12px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em
}

.timeline__item.active h5{
    color: #1fb6ff;
}
.timeline__item.active:after{
    border: 4px solid #1fb6ff;
}


/*  ==============================
    Responsive
    ==============================
*/

@media only screen and (max-width: 767px){
    .row.box{
        margin-left: 0;
        margin-right: 0;
    }
}


@media only screen and (max-width: 480px){
    .row-eq-height{
        display: block;
    }

    .image-preview{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: unset;
    }

    .lesson{
        padding:10px 10px;
        background:#eee;
        color: #818181;
    }

    .tabs-sylabus{
        padding:10px 10px 0;
        background:#eee;
        color: #818181;
    }
    .tabs-sylabus .nav-pills{
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .tabs-sylabus .nav-pills>li{
        float: none;
        display: inline-block;
    }
}
  

