body{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5{
    font-weight: bold;
}
.btn-primary{
    background: #ffff00;
    border-color: transparent;
    color: #000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active{
    background: #eef11c;
    border-color: transparent;
    color: #000;
}
.btn-secondary{
    background: transparent;
    border-color: #fff;
}
.btn-thirty{
    background: transparent;
    color: #000;
    border: 2px solid rgb(34, 34, 34, 0.5);
}
.btn-round{
    border-radius: 20px;
}
#collapse{
    text-decoration: none;
}


/* Section Header */
.header{
    background: #2ba8e2;
    color: #fff;
    padding: 20px 0 10px;
}
.header h1{
    padding-top: 10px;
    padding-top: 10px;
}
.header .price{
    color: #ffff00;
}
.header .video-preview{
    padding-top: 100px;
    text-align: right;
}


/* Css For Content Description */
.row.box{
    border: 3px solid rgb(230, 230, 230);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.row.box ul {
    list-style: none;
    padding: 0;
}
.row.box li {
    padding-left: 1.3em;
}
.row.box li:before {
    content: "\f05d";
    font-family: 'FontAwesome';
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}
.row.user{
    background: #2ba8e2;
    color: #fff;
    border-radius: 10px;
    border: none;
}
.row.user .bordered{
    border-right: 4px solid #0059ff;
}


/* Footer */
#footer {
    margin-top: 100px;
    padding: 25px;
    background-color: #09121a
}

.footer-logo {
    padding-bottom: 15px;
    height: 55px
}

.footer-logo-text {
    font-size: 18px;
    color: #fff
}

.nav-footer {
    padding: 0;
    list-style: none
}

.nav-footer li:first-child {
    margin-bottom: 15px;
    font-size: 14px;
    color: #fff
}

.nav-footer li a {
    text-decoration: none;
    line-height: 25px;
    font-size: 12px;
    color: #d3d6d6
}

#footer p {
    font-size: 12px;
    color: #d3d6d6
}

.copyrigth-text {
    margin-top: 50px
}


/* Responsive */
@media only screen and (max-width: 767px){
    .header .video-preview{
        padding-top: 20px;
        text-align: center;
    }

    .row.box{
        margin-left: 0;
        margin-right: 0;
    }
}