<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; IE=edge"" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>
    <div id="header">
        <div class="container">
            <a href="#">
                <img class="logo" src="img/logo.png"></img>
            </a>
            <a href="#" class="browse-btn">Browse Tutorial</a>
            <div class="header-left pull-right">
                <a href="#" class="masuk-btn">Masuk</a>
                <a href="#" class="daftar-header-btn">Daftar</a>
            </div>
        </div>
    </div>
    <div id="top-section">
        <p>
            Belajar dari 200++ tutorial, networking & Server Ekslusif ini.<br>
            Bisa bertanya dengan trainer 24 jam.<br>
            Online. Kapanpun, Dimanapun.
        </p>
        <a href="#" class="daftar-btn">Daftar</a>
    </div>

    <div id="content-section">
        <div id="cat-images">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 cat-img-container">
                        <img src="img/linux.png" alt=""></img>
                        <p>Linux</p>
                    </div>
                    <div class="col-md-3 cat-img-container">
                        <img src="img/mikrotik.png" alt=""></img>
                        <p>Mikrotik</p>
                    </div>
                    <div class="col-md-3 cat-img-container">
                        <img src="img/cisco.png" alt=""></img>
                        <p>Cisco</p>
                    </div>
                    <div class="col-md-3 cat-img-container">
                        <img src="img/tutorial.png" alt=""></img>
                        <p>Semua Tutorial</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="cat-section">
            <div class="container">
                <p class="title-cat">LINUX <a href="#" class="selengkapnya-btn">selengkapnya</a></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#">
                                <div class="card-img" style="background-image: url('img/dummy.jpg');"></div>
                                <div class="card-body">
                                    <p class="card-title">Training Linux Fundamental Ubuntu 16.04 LTS</p>
                                    <p class="card-info">Total 13 Video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#">
                                <div class="card-img" style="background-image: url('img/dummy-2.jpg');"></div>
                                <div class="card-body">
                                    <p class="card-title">Training Linux Administrator Basic</p>
                                    <p class="card-info">Total 10 Video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#">
                                <div class="card-img" style="background-image: url('img/dummy.jpg');"></div>
                                <div class="card-body">
                                    <p class="card-title">Training Linux Fundamental Fedora 2</p>
                                    <p class="card-info">Total 12 Video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#">
                                <div class="card-img" style="background-image: url('img/dummy-2.jpg');"></div>
                                <div class="card-body">
                                    <p class="card-title">Training Linux Ubuntu BlankOn Tambora</p>
                                    <p class="card-info">Total 10 Video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cat-section">
            <div class="container">
                <p class="title-cat">MIKROTIK <a href="#" class="selengkapnya-btn">selengkapnya</a></p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#">
                                <div class="card-img" style="background-image: url('img/dummy-2.jpg');"></div>
                                <div class="card-body">
                                    <p class="card-title">Training Mikrotik Warnet</p>
                                    <p class="card-info">Total 13 Video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#">
                                <div class="card-img" style="background-image: url('img/dummy.jpg');"></div>
                                <div class="card-body">
                                    <p class="card-title">Tutorial Mikrotik Hotspot</p>
                                    <p class="card-info">Total 10 Video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#">
                                <div class="card-img" style="background-image: url('img/dummy-2.jpg');"></div>
                                <div class="card-body">
                                    <p class="card-title">Tutorial Mikrotik Hotspot</p>
                                    <p class="card-info">Total 12 Video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <a href="#">
                                <div class="card-img" style="background-image: url('img/dummy.jpg');"></div>
                                <div class="card-body">
                                    <p class="card-title">Training Mikrotik Warnet</p>
                                    <p class="card-info">Total 10 Video</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="lihat-semua-btn">
       Lihat Semua 
    </a>
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img class="footer-logo" src="img/logo-only.png" alt=""></img>
                    <span class="footer-logo-text">Cilsy</span>
                    <p>
                        Adalah platform tutorial jaringan dan server online yang memudahkan semua
                        orang yang ingin belajar dan berdiskusi dengan ahli.
                    </p>
                    <p class="copyrigth-text">
                        Copyright Cilsy Fiolution 2016-2017
                    </p>
                </div>
                <div class="col-md-2">
                    <ul class="nav-footer">
                        <li>Cilsy</li>
                        <li><a href="#">Tentang</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Karir</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav-footer">
                        <li>Ikuti Kami</li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Line</a></li>
                        <li><a href="#">Google+</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav-footer">
                        <li>Bantuan</li>
                        <li><a href="#">Kontak</a></li>
                        <li><a href="#">Kebijakan Layanan</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="copyrigth-text">
                        Sarijadi Blok 23, No. 80, Kota Bandung
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>

</html>
