<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8; IE=edge"" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <title></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>

<body id="table-bg">
    <div id="header">
        <div class="container">
            <a href="#">
                <img class="logo" src="img/logo.png"></img>
            </a>
            <a href="#" class="browse-btn">Browse Tutorial</a>
            <div class="header-left pull-right">
                <a href="#" class="masuk-btn" style="border-right: 0 !important">Masuk</a>
            </div>
        </div>
    </div>

    <div class="overlay-bg">
        <div class="intstruction-text">
            <p>Hampir Selesai, Piih Paket Langganan Yang Kamu Mau</p>
        </div>
        <div id="table-section">
            <table id="pricing-table" class="table table-striped">
                <tbody>
                    <tr>
                    </tr>
                    <tr class="no-bg-color">
                        <td class="no-bg-color"></td>
                        <td class="no-bg-color pro" style="width: 25%"><p>PRO</p></td>
                        <td class="no-bg-color premium" style="width: 25%"><p>PREMIUM</p></td>
                    </tr>
                    <tr>
                        <td>Harga</td>
                        <td>Rp. 85.000</td>
                        <td>Rp. 300.000</td>
                    </tr>
                    <tr>
                        <td>Masa Aktif</td>
                        <td>1 Bulan</td>
                        <td>3 Bulan</td>
                    </tr>
                    <tr>
                        <td>Bebas Akses Ke 200 Lebih Video Tutorial</td>
                        <td>Ya</td>
                        <td>Ya</td>
                    </tr>
                    <tr>
                        <td>Update Hingga 50 Video Terbaru Setiap Bulan</td>
                        <td>Ya</td>
                        <td>Ya</td>
                    </tr>
                    <tr>
                        <td>Chat Dengan Trainer</td>
                        <td>Maksimal Dijawab Dalam 1x24 Jam</td>
                        <td>Real Time 24 Jam</td>
                    </tr>
                    <tr>
                        <td>Download Seluruh Materi Video</td>
                        <td>Tidak</td>
                        <td>Ya</td>
                    </tr>
                    <tr>
                        <td>Download Berkas Praktek</td>
                        <td>Tidak</td>
                        <td>Segera</td>
                    </tr>
                    <tr class="no-bg-color">
                        <td></td>
                        <td colspan=2 class="no-bg-color">
                            <a href="#" class="next-btn">Selanjutnya</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="intstruction-text">
            <p>Butuh Bantuan Untuk Bertanya? Telepon Kami di 022-2017098</p>
        </div>
    </div>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/custom.js"></script>
</body>

</html>
